<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    Modifier mot de passe
  </title>
  
  {% block stylesheets %}
        <link href="{{ asset('styles/signup.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>

<body class="bg-gray-200">
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
      </div>
    </div>
  </div>
  <main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-success shadow-primary border-radius-lg py-3 pe-1">
                  <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Modifier mot de passe</h4>
                </div>
              </div>
              <div class="card-body">
                {% if lien_invalide is defined %}
                  <div class="alert alert-danger">
                    <span class="text-white"> {{ lien_invalide }} </span>
                  </div>
                {% endif %}

                {% if not lien_invalide is defined %}
                  {{ form_start(form) }}
                    <div class="input-group input-group-outline mb-3">
                      {{ form_widget(form.mot_de_passe, { 'attr': {'class': 'form-control', 'placeholder': 'Nouveau mot de passe'} }) }}
                    </div>
                    {% if weak_password is defined %}
                      <p class="text-danger"> {{ weak_password }} </p>
                    {% endif %}
                    <div class="text-center">
                      {{ form_widget(form.save, { 'attr': {'class': 'btn bg-gradient-success w-100 my-4 mb-2'} }) }}
                    </div>
                    <p class="mt-4 text-sm text-center">
                      <a href="../authentication/login" class="text-success text-gradient font-weight-bold">Se connecter.</a>
                    </p>
                  {{ form_end(form) }}
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>