
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>
    Creer compte
  </title>

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
 

   {% block stylesheets %}
        <link href="{{ asset('styles/signup.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>

<body class="">
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
      </div>
    </div>
  </div>
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
              <div class="row">
           <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column" style="width:60%">
    <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url({{asset('images/signup.png')}}); background-size: cover; background-position: center; ">
    </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Inscrivez-vous</h4>
                  <p class="mb-0">Entrez votre email et votre mot de passe pour vous inscrire</p>
                </div>
                <div class="card-body">
                {% if signup_error is defined %}
                  <div class="alert alert-danger">
                    <span class="text-white">{{ signup_error }}</span>
                  </div>
                {% endif %}
                
                  {{ form_start(form) }}
                    <div class="input-group input-group-outline mb-3">
                      {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                    </div>
                    <p style="color: red" class="mt-4 text-sm">{{ errors['nom'] }}</p>
                    <div class="input-group input-group-outline mb-3">
                      {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prenom'} }) }}
                    </div>
                    <p style="color: red" class="mt-4 text-sm">{{ errors['prenom'] }}</p>
                    <div class="input-group input-group-outline mb-3">
                      {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                    </div>
                    <p style="color: red" class="mt-4 text-sm">{{ errors['email'] }}</p>
                    <div class="input-group input-group-outline mb-3">
                      {{ form_widget(form.mot_de_passe, {'attr': {'class': 'form-control', 'type': 'password', 'placeholder': 'Mot de passe'} }) }}
                    </div>
                    <p style="color: red" class="mt-4 text-sm">{{ errors['password'] }}</p>
                    <div class="form-check form-check-info text-start ps-0">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                      <label class="form-check-label" for="flexCheckDefault">
                        J'accepte les <a href="javascript:;" class="text-success font-weight-bolder">Conditions Générales d'Utilisation</a>
                      </label>
                    </div>
                    <div class="text-center">
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg bg-gradient-success btn-lg w-100 mt-4 mb-0', 'type': 'submit'} }) }}
                    </div>
                  {{ form_end(form) }}
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-2 text-sm mx-auto">
                    Vous avez déjà un compte ?
                    <a href="../authentication/login" class="text-success text-gradient font-weight-bold">Connectez-vous.</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

</html>